# Declaring all the services
services:
  catalogue:      # catalogue service
    build:
      context: ./catalogue
      dockerfile: Dockerfile
    image: joindevops/catalogue:v1
    container_name: catalogue

    depends_on:     # It ensures that the mongodb is started first and the dependant service will be created
    - mongodb
  mongodb:      # mongodb service
    build: ./mongodb
    image: ./mongodb:v1
    container_name: mongodb
    volumes:
    - mongodb:/data/db
  redis:        # redis service
    image: redis:7.0
    container_name: redis
    volumes:
    - redis:/data
  mysql:
    build: ./mysql
    image: ./mysql:v1
    container_name: mysql
    volumes:
    - mysql:/var/lib/mysql
  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    volumes: # -v rabbitmq:/var/lib/rabbitmq
    - rabbitmq:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
  user:
    build: ./user
    image: ./user:v1
    container_name: user
    depends_on:
    - mongodb
    - redis
  cart:
    build: ./cart
    image: ./cart:v1
    container_name: cart
    depends_on:
    - redis
    - catalogue
  shipping:
    build: ./shipping
    image: ./shipping:v1
    container_name: shipping
    depends_on:
    - mysql
    - cart
  payment:
    build: ./payment
    image: ./payment:v1
    container_name: payment
    depends_on:
    - rabbitmq
    - cart
    - user
  dispatch:
    build: ./dispatch
    image: ./dispatch:v1
    container_name: dispatch
    depends_on:
      - rabbitmq
  frontend:
    build: ./frontend
    image: ./frontend:v1
    container_name: frontend
    ports:
    - "80:80"
    depends_on:
    - catalogue
    - user
    - cart
    - shipping
    - payment

networks:       # network roboshop
  default:
    driver: bridge
    name: roboshop
    external: false # true if we have created network manually using docker network command

volumes:        # creating persistant volumes for these services
  mongodb: # docker volume create mongodb. /var/lib/docker/volumes
  redis:
  mysql:
  rabbitmq:
